.listing {
  .listing-item {
    background: #ffffff;
    box-shadow: 0px 6px 20px rgba(36, 41, 41, 0.1);
    border-radius: 16px;
    padding: 15px;
    margin-bottom: 20px;
    border: "none";
    @media (max-width: 600px) {
      padding: 12px;
    }
    .text-avatar {
      background-color: rgba(242, 106, 71, 0.08);
      border-radius: 10px;
    }
    .text {
      font-family: "DM Sans";
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 150%;
      color: #f26a47;
    }
    .avatar {
      width: 50px;
      height: 50px;
      background-color: rgba(242, 106, 71, 0.08);
      border-radius: 10px;
      @media (max-width: 600px) {
        margin-right: 10px;
      }
    }
    .image-avatar {
      width: 80px;
      height: 80px;
      border-radius: 10px;
      color: #f26a47;
      font-weight: 500;
      font-size: 16px;
      & img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
      @media (max-width: 600px) {
        width: 66px;
        height: 66px;
        font-weight: 500;
        font-size: 20px;
        line-height: 26px;
      }
    }
    .primary-text {
      font-family: "DM Sans";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      color: #000000;
      @media (max-width: 600px) {
        font-size: 14px;
        line-height: 20px;
      }
    }
    .secondary-text {
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      color: #525252;
    }
  }
}
