.media-upload-container {
  height: 200px;
  display: flex;
  flex-direction: column !important;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: rgba(70, 141, 141, 0.08);
  border-radius: 16px;
  position: relative;
  @media screen and (max-width: 600px) {
    height: 130px;
  }
  & .--image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 16px;
    @media screen and (max-width: 600px) {
      height: 130px;
    }
  }
  & .icon {
    @media screen and (max-width: 600px) {
      width: 26px;
      margin-bottom: 12px;
    }
  }
  & .icon-image {
    @media screen and (max-width: 600px) {
      width: 100%;
    }
  }
  & .remove-image {
    position: absolute;
    width: 40px;
    height: 40px;
    background: #ffffff;
    border-radius: 10px;
    right: 16px;
    top: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  & .text {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #8f8f8f;
    width: 88px;
    @media screen and (max-width: 600px) {
      width: 44px;
    }
  }
  & .file-name {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #000000;
    @media screen and (max-width: 600px) {
      font-weight: 700;
      font-size: 10px;
      line-height: 13px;
    }
  }
  & .file-size {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height */

    text-align: center;

    color: #000000;
    @media screen and (max-width: 600px) {
      font-size: 10px;
      line-height: 13px;
    }
  }
}
