.dialog-title {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  text-align: center;
  color: #000;
}
.close-button {
  position: absolute;
  right: 0;
  top: 0;
  padding: 4px;
  border: 1px solid #eee;
  border-radius: 10px;
}
